*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #E6F3F9;
    min-height: 100vh;
    padding: 50px 0px;
}
.header{
    width: 30%;
    padding: 10px;
    text-align: center;
    background-color: #A9CDDE;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2em;
    border-radius: 7px;
    box-shadow: 5px 5px 8px rgba(95, 95, 95, 0.212);
    cursor: default;
}
#list{
    width: 25%;
    background-color: white;
    border-radius: 7px;
    box-shadow: 5px 5px 8px rgba(95, 95, 95, 0.096);
}
#list #new-task-form{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    border-bottom: 1px solid rgb(214, 214, 214);
}
#list #new-task-form span{
    flex:1;
}
#list #new-task-form #new-task-submit{
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 40px;
    background-color: #A9CDDE;
    color: white;
    border: none;
    outline: none;
    border-radius: 50px;
    transform: rotate(0deg);
    transition: all .5s;
    cursor: pointer;
}
#list #new-task-form #new-task-submit:hover{
    transform: rotate(180deg);
}
#list #new-task-form #new-task-input{
    flex: 10;
    text-align: center;
    border: none;
    outline: none;
    font-size: 20px;
}
.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    border-bottom: 1px solid rgb(236, 236, 236);
    transition: background .5s;
    cursor: pointer;
}
.task div{
    flex: 10;
    width: 100%;
    display: flex;
}
.task div p{
    width: 100%;
    word-wrap:break-word;
}
.task:hover{
    background-color: rgb(245, 245, 245);
}
.task:last-child{
    border: none;
}
.checked{
    background-color: rgb(247, 247, 247);
}
.checked p{
    text-decoration: line-through;
}
.task input[type="checkbox"]{
    display: inline-block;
    cursor: pointer;
}
.task div p{
    display: inline-block;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: rgb(97, 97, 97);
    margin-left: 10px;
}
.task button{
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: all .5s;
}
.task button:hover{
    background-color: rgba(255, 99, 71, 0.39);
}
.task button img{
    width: 30px;
    background-color: transparent;
}

.hide{
    opacity: 0%;
}

.error{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    border-radius: 10px;
    color: white;
    background-color: tomato;
    transition: .5s;
    width: 90%;
    box-shadow: 5px 5px 2px rgb(190, 190, 190);
}
.verify{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    border-radius: 10px;
    color: white;
    background-color: rgb(75, 190, 75);
    transition: .5s;
    width: 90%;
    box-shadow: 5px 5px 2px rgb(190, 190, 190);
}
.clear{
    padding: 10px 20px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 20px;
    background-color: tomato;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    transform: translate(0px,0px);
    transition: all .5s;
    cursor: pointer;
}
.clear:hover{
    transform: translate(0px,-5px);
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.26);
}

#log-container{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}